:root {
  --color_one:  #052339;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#headerpanel {
  background: var(--color_one);
  padding: 10px 0;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 40px;
  height: 40px;
}
.header-logo img {
  width: 100%;
}
.header-nav ul {
  list-style: none;
  display: flex;
}
.header-nav ul li :nth-child(1) {
  margin-left: 0;
}
.header-nav ul li {
  margin-left: 20px;
}
.header-nav ul li a {
  text-decoration: none;
  color: #fff;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right ul {
  display: flex;
  list-style: none;
}
.header-right ul li {
    margin-left: 20px;
}
.header-right ul li a {
  color: #fff;
  text-decoration: none;
}